.*
*.a
*.o
*.so
*.out
*.rej
*.orig
*.files
*.log
*.diff
*.lo
*.la
*~
/libtool
/config.*
/*.patch
!.gitignore
/out
/tags
/cscope*
/autom4te.cache
/config.h
/config.log
/config.status
/Makefile
/stamp-h1
