.*
*.a
*.o
*.so
*.out
*.rej
*.orig
*.files
*.log
*.diff
/libtool
/m4
/config.*
/*.patch
!.gitignore
/out
/tags
/cscope*
/aclocal.m4
/autom4te.cache
/config.h
/config.log
/config.status
/Makefile
/stamp-h1
