[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
[remote "local"]
	url = file:///git/cavan.git
	fetch = +refs/heads/*:refs/remotes/local/*
[remote "csdn"]
	url = https://code.csdn.net/fuangcao/cavan.git
	fetch = +refs/heads/*:refs/remotes/csdn/*
[remote "coding"]
	url = https://e.coding.net/fuangcao/cavan.git
	fetch = +refs/heads/*:refs/remotes/coding/*
[remote "oschina"]
	url = https://gitee.com/fuangcao/cavan.git
	fetch = +refs/heads/*:refs/remotes/oschina/*
[branch "master"]
	remote = oschina
	merge = refs/heads/master
[remote "github"]
	url = https://github.com/fuangcao/cavan.git
	fetch = +refs/heads/*:refs/remotes/github/*
