menu "Cavan touchscreen driver config"

config CAVAN_USE_FB_NOTIFILER
    bool "Use fb notifiter control touchscreen power"
    default n
	help
      Say Y here if you want to use fb notifiter control touchscreen power.

      If unsure, say N.

config CAVAN_TOUCHSCREEN_BL86X8
    tristate "Cavan bl86x8 touchscreen"
    default n
    help
      Say Y here if you have a bl86x8 touchscreen connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called hampshire.

config CAVAN_TOUCHSCREEN_CY8C242
    tristate "Cavan cy8c242 touchscreen"
    default n
    help
      Say Y here if you have a cy8c242 touchscreen connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called hampshire.

config CAVAN_TOUCHSCREEN_FT5216
    tristate "Cavan ft5216 ft6306 touchscreen"
    default n
    help
      Say Y here if you have a ft5216 touchscreen connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called hampshire.

config CAVAN_TOUCHSCREEN_MSG21XX
    tristate "Cavan msg21xx touchscreen"
    default n
    help
      Say Y here if you have a msg21xx touchscreen connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called hampshire.

endmenu
