menu "Sensor driver config"

config CAVAN_GSENSOR_EXCHANGE_XY
    bool "Exchange x and y axis"
    default n
    help
      Say Y if you whant to exchange x and y axis

      If unsure, say N.

config CAVAN_GSENSOR_SIGN_X
    int "Sign of x axis"
    default 1
    range -1 1
    help
      This option config sign of x axis.

config CAVAN_GSENSOR_SIGN_Y
    int "Sign of y axis"
    default 1
    range -1 1
    help
      This option config sign of y axis.

config CAVAN_GSENSOR_SIGN_Z
    int "Sign of z axis"
    default 1
    range -1 1
    help
      This option config sign of z axis.

config CAVAN_SENSOR_ADXL34X
    tristate "adxl346 g-sensor support"
    default n
    help
      Say Y here if you have a adxl346 g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_adxl34x.

config CAVAN_SENSOR_KIONIX
    tristate "kxcjk kxtik g-sensor support"
    default n
    help
      Say Y here if you have a kionix kxcjk kxtik g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_kionix.

config CAVAN_SENSOR_LIS3DH
    tristate "lis3dh lis3de g-sensor support"
    default n
    help
      Say Y here if you have lis3dh or lis3de g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_lis3dh.

config CAVAN_SENSOR_MMA845X
    tristate "mma845x g-sensor support"
    default n
    help
      Say Y here if you have a mma845x g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mma845x.

config CAVAN_SENSOR_MXC6225
    tristate "mxc6225-xc mxc6225-xu g-sensor support"
    default n
    help
      Say Y here if you have a mxc6225-xc or mxc6225-xu g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mxc6225.

config CAVAN_SENSOR_STK8313
    tristate "stk8313 g-sensor support"
    default n
    help
      Say Y here if you have a stk8313 g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_stk8313.

config CAVAN_SENSOR_BMA2XX
    tristate "bma2xx g-sensor support"
    default n
    help
      Say Y here if you have a bma2xx g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bma2xx.

config CAVAN_SENSOR_MC3XXX
    tristate "mc3xxx g-sensor support"
    default n
    help
      Say Y here if you have a mc3xxx g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mc3xxx.

config CAVAN_SENSOR_APDS99XX
    tristate "apds99xx l-sensor and p-sensor support"
    default n
    help
      Say Y here if you have a apds99xx light or proximity sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_apds99xx.

config CAVAN_SENSOR_EPL2182
    tristate "epl2182 l-sensor and p-sensor support"
    default n
    help
      Say Y here if you have a epl2182 light or proximity sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_epl2182.

config CAVAN_SENSOR_BMI160
    tristate "bmi160 acceleration and gyroscope sensor support"
    default n
    help
      Say Y here if you have Bosch Sensortec's BMI160
      acceleration and gyroscope sensor hooked to an I2C bus.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bmi160.

config CAVAN_SENSOR_BMM150
    tristate "bmm150 geomagnetic sensor support"
    default n
    help
      Say Y here if you have Bosch Sensortec's BMM150
      acceleration and gyroscope sensor hooked to an I2C bus.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bmm150.

endmenu
