menu "Sensor devices"

config CAVAN_GSENSOR_EXCHANGE_XY
    bool "GSensor exchange x and y axis"
    default n
    help
      Say Y if you whant to exchange x and y axis

      If unsure, say N.

config CAVAN_GSENSOR_SIGN_X
    int "GSensor sign of x axis"
    default 1
    range -1 1
    help
      This option config sign of x axis.

config CAVAN_GSENSOR_SIGN_Y
    int "GSensor sign of y axis"
    default 1
    range -1 1
    help
      This option config sign of y axis.

config CAVAN_GSENSOR_SIGN_Z
    int "GSensor sign of z axis"
    default 1
    range -1 1
    help
      This option config sign of z axis.

config CAVAN_GYROSCOPE_EXCHANGE_XY
    bool "Gyroscope exchange x and y axis"
    default n
    help
      Say Y if you whant to exchange x and y axis

      If unsure, say N.

config CAVAN_GYROSCOPE_SIGN_X
    int "Gyroscope sign of x axis"
    default 1
    range -1 1
    help
      This option config sign of x axis.

config CAVAN_GYROSCOPE_SIGN_Y
    int "Gyroscope sign of y axis"
    default 1
    range -1 1
    help
      This option config sign of y axis.

config CAVAN_GYROSCOPE_SIGN_Z
    int "Gyroscope sign of z axis"
    default 1
    range -1 1
    help
      This option config sign of z axis.

config CAVAN_SENSOR_DUMMY
    tristate "Dummy sensor support"
    default n
    help
      Say Y here if you need a dummy sensor for test.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_dummy.

config CAVAN_SENSOR_ADXL34X
    tristate "ADXL346 g-sensor support"
    default n
    help
      Say Y here if you have a ADXL346 g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_adxl34x.

config CAVAN_SENSOR_KIONIX
    tristate "KXCJK KXTIK g-sensor support"
    default n
    help
      Say Y here if you have a KIONIX KXCJK KXTIK g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_kionix.

config CAVAN_SENSOR_LIS3DH
    tristate "LIS3DH LIS3DE g-sensor support"
    default n
    help
      Say Y here if you have LIS3DH or LIS3DE g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_lis3dh.

config CAVAN_SENSOR_MMA845X
    tristate "MMA845X g-sensor support"
    default n
    help
      Say Y here if you have a MMA845X g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mma845x.

config CAVAN_SENSOR_MXC6225
    tristate "MXC6225-XC MXC6225-XU g-sensor support"
    default n
    help
      Say Y here if you have a MXC6225-XC or MXC6225-XU g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mxc6225.

config CAVAN_SENSOR_STK8313
    tristate "STK8313 g-sensor support"
    default n
    help
      Say Y here if you have a STK8313 g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_stk8313.

config CAVAN_SENSOR_BMA2XX
    tristate "BMA2XX g-sensor support"
    default n
    help
      Say Y here if you have a BMA2XX g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bma2xx.

config CAVAN_SENSOR_MC3XXX
    tristate "MC3XXX g-sensor support"
    default n
    help
      Say Y here if you have a MC3XXX g-sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_mc3xxx.

config CAVAN_SENSOR_APDS99XX
    tristate "APDS99XX l-sensor and p-sensor support"
    default n
    help
      Say Y here if you have a APDS99XX light or proximity sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_apds99xx.

config CAVAN_SENSOR_EPL2182
    tristate "EPL2182 l-sensor and p-sensor support"
    default n
    help
      Say Y here if you have a EPL2182 light or proximity sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_epl2182.

config CAVAN_SENSOR_BMI160
    tristate "BMI160 acceleration and gyroscope sensor support"
    default n
    help
      Say Y here if you have Bosch Sensortec's BMI160
      acceleration and gyroscope sensor hooked to an I2C bus.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bmi160.

config CAVAN_SENSOR_BMM150
    tristate "BMM150 geomagnetic sensor support"
    default n
    help
      Say Y here if you have Bosch Sensortec's BMM150
      acceleration and gyroscope sensor hooked to an I2C bus.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_bmm150.

config CAVAN_SENSOR_LTR553
    tristate "LTR553 l-sensor and p-sensor support"
    default n
    help
      Say Y here if you have a LTR553 light or proximity sendor connected to
      your system.

      If unsure, say Y.

      To compile this driver as a module, choose M here: the
      module will be called cavan_ltr553.

endmenu
