[Unit]
Description=cavan role change mask service
After=network.target

[Service]
Type=simple
ExecStart=/cavan/out/host/debug/cavan-role_change service tcp-mask::8869
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
