[Unit]
Description=cavan role change service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/cavan/out/host/debug/cavan-role_change service tcp::8868
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
