[Unit]
Description=cavan tcp dd daemon
After=network.target

[Service]
Type=simple
ExecStart=/cavan/out/host/debug/cavan-tcp_dd_server
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
