menu "Cavan driver config"

choice
    prompt "Phone type"
    default CAVAN_ZTE_HS8801
    depends on MACH_SP8810 || MACH_SP8810G_BRCM
    help
      Choice cavan phone type

config CAVAN_ZTE_HS8801
    depends on MACH_SP8810
    bool "ZTE HS8801"
    help
      Support for the ZTE HS8801 based phone
endchoice

config CAVAN_USB_VENDOR_ID
    hex "USB vendor id"
    default 0x1782

config CAVAN_USB_PRODUCT_ID
    hex "USB product id"
    default 0x5D00

config CAVAN_USB_RNDIS_PRODUCT_ID
    hex "USB rndis product id"
    default 0x5D20

config CAVAN_USB_SIMPLE_NAME
    string "USB simple name"
    default "Cavan"

config CAVAN_USB_MANUFACTURER_NAME
    string "USB manufacturer name"
    default "Cavan"

config CAVAN_USB_PRODUCT_NAME
    string "USB product name"
    default "Cavan"

config CAVAN_USB_SERIAL_NUMBER
    string "USB serial number"
    default "19761202"

config CAVAN_LCD_WIDTH
    int "LCD width"
    range 0 4096
	default 480
    help
      This option config lcd horizontal resolution.

config CAVAN_LCD_HEIGHT
    int "LCD height"
    range 0 4096
	default 800
    help
      This option config lcd vertical resolution.

config CAVAN_LCD_BUS_WIDTH
    int "LCD bus width"
    range 0 32
	default 24
    help
      This option config lcd bus width.

choice
    prompt "LCD backlight type"
    default CAVAN_LCD_BACKLIGHT_GPIO
    help
      Choice cavan lcd lcd backlight type

config CAVAN_LCD_BACKLIGHT_GPIO
    bool "Backlight type gpio"
    help
      Use gpio control backlight brightness

config CAVAN_LCD_BACKLIGHT_ANA
    bool "Backlight type ana"
    help
      Use analog control backlight brightness

config CAVAN_LCD_BACKLIGHT_PWM
    bool "Backlight type pwm"
    help
      Use pwm control backlight brightness
endchoice

config CAVAN_LCD_BACKLIGHT_MAX_BRIGHTNESS
    int "LCD backlight max brightness"
    range 0 255
	default 255
    help
      This option config lcd backlight max brightness.

config CAVAN_LCD_SUPPORT_VENDOR_ID
    bool "LCD support vendor id"
	default n
    help
      Say Y here if your lcd support vendor id

      If unsure, say N.

config CAVAN_BUTTON_BACKLIGHT_MAX_BRIGHTNESS
    int "Button backlight max brightness"
    range 0 255
	default 255
    help
      This option config button backlight max brightness.

config USE_EXTERNAL_POWER_AMPLIFIER
	bool "Use external power amplifier"
	default n
	help
	  Select if use external power amplifier.

config MMC_DEV_TROUT
	bool "Mmc device for trout"
	default n
	help
	  Select if use trout wifi.

config EXCHANGE_VOLUME_KEY
	bool "Exchange volume key"
	default n
	help
	  Select if need exchange volume key.

config CAVAN_CAMERA_ROTATION
	int "Camera rotation degree"
	range 0 270
	default 0
	help
	  This option config the rotation of camera sensor

config CAVAN_SUPPORT_BACK_CAMERA
	bool "Support back camera"
	default n
	help
	  Select if has a back camera.

config CAVAN_SUPPORT_FRONT_CAMERA
	bool "Support front camera"
	default n
	help
	  Select if has a front camera.

menuconfig CAVAN_INPUT_CORE
    tristate "Input subsystem"
    default n
    depends on INPUT
    help
      Say Y here if you want to use cavan input subsystem

      If unsure, say Y.

if CAVAN_INPUT_CORE
source "drivers/cavan/sensor/Kconfig"
source "drivers/cavan/touchscreen/Kconfig"
endif

source "drivers/cavan/flash/Kconfig"
source "drivers/cavan/misc/Kconfig"

endmenu
